<footer class="f-bottom w-100">
    <a class="fs-4 fw-bolder text-light" href="/">PRo
      <span class="n-dot"></span>
    </a>
    <p class="fs-5 px-4 pt-2 f-text">Terms and condition apply copyright 2014. allrights reserved!</p>
</footer>
