.b-color {
  background-color: #dfb391;
}

.b-reset {
  padding: 0;
  margin: 0;
}

.f-center {
  width: 20%;
  margin: 0 auto;
  border-radius: 20px;
  text-align: left;
}

.b-article {
  background-color: #dfb391;
  padding: 10px;
  border-radius: 25px;
}

.a-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.field {
  width: 50%;
}

.photo {
  width: 95%;
  margin: 0;
  padding-left: 60px;
}

.a-grid {
  margin: auto;
  width: 90%;
  padding-left: 40px;
}

.d-cat {
  padding-left: 50px;
  height: 70vh;
  padding-bottom: 10%;
  margin-bottom: 10%;
}


.cat,
.cat-table {
  margin: auto;
  width: 90%;
  padding-left: 40px;
}
.f-bottom {
  position:sticky;
  margin: 0 auto;
  width: 100%;
  right: 10px;
}