<div class="bg-white p-3 cat text-danger border rounded w-50 d-cat mx-auto">

<div class="">
<h1 class="fw-bolder pl-5">New Category</h1>
<%= render 'form', category: @category %>
<%= link_to 'Back', categories_path %>

</div>

</div>