<div class="bg-white p-3 cat f-text border rounded w-50 d-cat mx-auto">

<div class="">
<h1 class="fw-bolder pl-5">NEW CATEGORY</h1>

<%= render 'form', category: @category%>
<br>
<%= link_to 'Back', categories_path, class: "b-article" %>

</div>

</div>